.container {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 1rem;

  background: var(--gray-500);
}

.container + .container {
  margin-top: 1rem;
}

.title {
  font-size: 0.875rem;
  margin: 0 0.75rem;
  width: 100%;

  color: var(--gray-100);
}
.titleDone {
  color: var(--gray-300);
  text-decoration: line-through;
}

.checkButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.125rem;

  width: 1.1rem;
  height: 1.1rem;

  border: 2px solid var(--blue);
  border-radius: 50%;

  background-color: transparent;
  color: var(--gray-100);
}

.checkButton:hover {
  background-color: rgba(30, 111, 159, 0.2);
  border: 2px solid var(--blue-dark);
}

.doneButton {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.doneButton:hover {
  border: 2px solid var(--purple);
  background-color: var(--purple);
}

.trashButton {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 0;
  background: none;
  color: var(--gray-300);

  transition: color 0.15s;
}

.trashButton:hover {
  color: var(--danger);
}
